<a href="https://colab.research.google.com/github/cs-devika/assignment_2/blob/main/Activity_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3  
Sample output: Area of Circle is 28.59999999999

In [3]:
r = float(input("Enter a radius : "))
area = 3.14*r**2
print(area)

Enter a radius : 3
28.26

 Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input:  
Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:  Name: Anisha
Roll No: 21
Mark: 78

In [5]:
a = input("Enter the name : ")
b = int(input("Enter the roll number : "))
c = int(input("Enter the mark : "))
print("name : ",a)
print("roll number : ",b)
print("mark : ",c)

Enter the name : anisha
Enter the roll number : 21
Enter the mark : 78
name :  anisha
roll number :  21
mark :  78

Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [7]:
def max(a,b,c,d):
  if a>=b and a>=c and a>=d:
    return a
  elif b>=a and b>=c and b>=d:
    return b
  elif c>=a and c>=b and c>=d:
    return c
  else:
    return d
a = 12
b = 3
c = 47
d = 10
num = max(a,b,c,d)
print(num)

47

 Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.  
Sample input: 1….10  
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [12]:
num = 0
for i in range(1,11):
  sum = i + num
  print("i : ",i,"num :",num,"sum : ",sum)
  num = i

i :  1 num : 0 sum :  1
i :  2 num : 1 sum :  3
i :  3 num : 2 sum :  5
i :  4 num : 3 sum :  7
i :  5 num : 4 sum :  9
i :  6 num : 5 sum :  11
i :  7 num : 6 sum :  13
i :  8 num : 7 sum :  15
i :  9 num : 8 sum :  17
i :  10 num : 9 sum :  19

 Write a Python program to print only those numbers which are divisible
of 5.  
Sample input: 10, 20,33,46,55    Sample output: 10, 20, 55

In [19]:
n = [10,20,33,46,55]
for i in n:
  if i % 5 == 0:
    print(i)

10
20
55

Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3  
Sample output: 3 is a prime number.

In [20]:
n = int(input("Enter the number : "))
if n>1 :
  for i in range(2,n):
    if n % i == 0:
      print("it's not a prime number")
      break
  else:
    print("its prime number")

Enter the number : 3
its prime number

Write a Python program to reverse a list using for loop.  
Sample input: 10,40,30,70  
Sample output: 70,30,40,10

In [24]:
num = [10,40,30,70]
num.reverse()
print(num)

[70, 30, 40, 10]

Write a Python program to print the following pattern.  
*
**
***
**
****

In [56]:
pattern = [1,2,3,2,4]
for i in pattern:
  print("*"*i)

*
**
***
**
****

 Write a Python program to find the maximum of three numbers  
Sample input: 34,12,7  
Sample output: 34

In [55]:
def max(a,b,c):
  if a>=b and b>=c:
    return a
  elif b>=a and b>=c:
    return b
  else:
    return c
a = 34
b = 12
c = 7
num = max(a,b,c)
print(num)

34

Write a Python program to construct the following pattern, using a
nested for loop.

In [54]:
for i in range(1,6):
  for j in range(i):
    print("*",end = "")
  print()
for i in range(4,0,-1):
  for j in range(i):
    print("*",end = "")
  print()

*
**
***
****
*****
****
***
**
*